<%- show_service_provider ||= false -%>
<table>
  <tr>
    <th>Title</th>
    <th>Price</th>
    <%- if show_service_provider -%>
      <th>Service Provider</th>
    <%- end -%>
  </tr>
  <%- service_list.each do |service| -%>
    <tr>
      <td><%= service.headline %></td>
      <td><%= number_to_currency service.price %></td>
      <%- if show_service_provider -%>
        <td><%= link_to service.user.email, profile_path(service.user) %></td>
      <%- end -%>
      <%- if service.user == current_user -%>
      <td>
        <%= link_to "Delete", service_path(service), method: :delete %>
      </td>
      <%- end -%>
    </tr>
  <%- end -%>
</table>
