Here's the dashboard

<h3>Services in my area</h3>
<%= render 'services/service_list',
  service_list: current_user.services_in_my_area(50),
  show_service_provider: true %>

<h3>Services I provide</h3>
<%= link_to "Create new service", new_service_path %>

<%= render 'services/service_list',
  service_list: current_user.services %>
