<section class = "banner" id = "banner-welcome">
    <div class = "container align-center">
        <div class = "module per70 padding-medium text-center typewriter">
            <h2 class = "text1 margin-bottom">I need to hire someone fast.</h2>
            <h2 class = "text2 margin-bottom">Super broke. Need a gig today.</h2>
           
            <div class = "module-container align-center" style = "margin-top: -30px">
                <p>Enter your zipcode to start finding gigs</p>
                <input class = "module margin-top per30 tab-per60 mob-per80" type = "text" placeholder = "10509">
            </div>
        </div>
    </div>
</section>

<section class = "banner" id = "banner-home">
    <div class = "container align-center">
        <div class = "module per70 text-center">
           
        </div>
    </div>
</section>