<section class = "banner">
    <div class = "container text-center">
        <h3 class = "large margin-bottom">Services Being Offered</h3>
				<%- Service.all.each do |service| -%>
				<div module >
			
				<div class = "module per33 catalogHeader bold large margin-bottom">
					Gig Headline
				</div>
				<div class = "module per33 catalogHeader bold large  margin-bottom">
					Gig Provider
				</div>
				<div class = "module per33 catalogHeader bold large margin-bottom">
					Gig Price
				</div>


			<%- Service.all.each do |service| -%>
				<div class = "module per33 padding-bottom-small">
					<%= link_to service.headline, show_service_path(service) %>
				</div>
				<div class = "module per33 padding-bottom-small">
					<%= service.user.name %>
				</div>
				<div class = "module per33 padding-bottom-small">
					<%= number_to_currency(service.price) %>
				</div>

			<%- end -%>
		</div>
</section>

